body {
    margin:0;
    padding:0;
    overflow: hidden;
    background-image:url('/img/pw_maze_white.png');
    font-family: "HelveticaNeue-Light";
    font: 100 28px Helvetica Neue;
    color: #666;
}

#loader,
#chart,
#controls,
#stats{ display: none; }

#welcome,
#loader{ 
    position: absolute;
    top: 40%;
    width: 99%;
    text-align: center;
    font-size: 34px;
    cursor: hand; cursor: pointer;
}

#controls{
    position:fixed;
    top:0;
    left:0;
    margin: 10px;
    opacity: 0.6;
    font-size: 20px;
    cursor: hand; cursor: pointer;
}

    #controls ul{
        margin: 0px;
        padding: 0px;
    }

    #controls ul li{
        display: inline;
        padding: 0 5px 0 5px;
        margin-right: 5px;
        list-style-type: none;
        background-color: #ddd;
        color: #000;
    }

    #controls ul li:hover,
    #controls ul li.active{ background-color: #fff; }

#stats {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:100;
    padding: 10px;
    text-align: center;
    background-color:#ddd;
    box-shadow: 0 -1px 2px #ddd;
    opacity: 0.6;
    color: #000;
}

/* lol */
@-webkit-keyframes blink {  
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

blink {
    -webkit-animation-name: blink;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s; 
}

/* chart styles */
svg .label {
    font: 9px sans-serif;
    stroke-width: 2px;
}
svg path{
     cursor: hand; cursor: pointer;
}

#tooltip {
  position: absolute;
  padding: 8px;
  font: 10px sans-serif;
  background: #ccc;
  border: solid 1px #666;
  border-radius: 8px;
  max-width: 220px;
}

